# Create an OSEv3 group that contains the master, nodes, etcd, and lb groups.
# The lb group lets Ansible configure HAProxy as the load balancing solution.
# Comment lb out if your load balancer is pre-configured.
[OSEv3:children]
masters
nodes
etcd

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
ansible_ssh_user=centos
ansible_ssh_private_key_file=/home/{{ ansible_ssh_user }}/.ssh/{{ kp_name }}
ansible_become=true
# Enable Firewall ID
os_firewall_use_firewalld=True
# Openshift deployment type
openshift_deployment_type=origin
# Disable hardware checks
openshift_disable_check=disk_availability,memory_availability
# Set domain and lad balancing method
openshift_master_default_subdomain={{ domain }}
openshift_master_cluster_method=native
openshift_master_cluster_hostname=internal.{{ domain }}
openshift_master_cluster_public_hostname=cluster.{{ domain }}
# allow unencrypted connection within cluster
openshift_docker_insecure_registries={{ private_subnet }}
# Configure the certificate validity
openshift_hosted_registry_cert_expire_days=1825
openshift_ca_cert_expire_days=1825
openshift_node_cert_expire_days=1825
openshift_master_cert_expire_days=1825
etcd_ca_default_days=1825
# Install the OpenShift catalog
openshift_enable_service_catalog=True
# Install the OpenShift Ansible Broker
ansible_service_broker_install=False
# Configuring the Template Service Broker
template_service_broker_install=False

# host group for masters
[masters]
aio-0[1:3].okd.conatest.click

# host group for etcd
[etcd]
aio-0[1:3].okd.conatest.click

# host group for nodes
[nodes]
aio-0[1:3].okd.conatest.click openshift_node_group_name='node-config-all-in-one'
